name: Arch Linux CI
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Install dependencies
        run: |
          pacman -Sy --noconfirm base-devel  wget  fmt   gcc-libs   gtk3   jsoncpp   libevdev   libinput   libsigc++   spdlog  cmake meson wayland-protocols 
          version=0.12.0
          wget https://github.com/Alexays/Waybar/archive/refs/tags/$version.tar.gz
          tar -xzf $version.tar.gz
          cd Waybar-$version/
          meson setup build -Dlibnl=disabled -Ddbusmenu-gtk=disabled -Dupower_glib=disabled -Dcava=disabled -Dmpris=disabled -Dmpd=disabled -Dsndio=disabled -Dniri=false 
          ninja -C build/
          strip build/waybar
          FILE1=$(realpath Waybar-$version/build/waybar)
          echo "FILE1=${FILE1}" >> $GITHUB_ENV
          echo "PKG=${version}" >> $GITHUB_ENV
          

      - name: Create GitHub Release and Upload ZIP
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.PKG }}
          files: |
            ${{ env.FILE1 }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
          
